# ==========================
#  ENVIRONNEMENTS PYTHON
# ==========================
.venv/
venv/
.env/
*.env
__pycache__/
*.pyc
.build/
build/

# ==========================
#  LOGS ET SORTIES TEMPORAIRES
# ==========================
*.log
logs/

# ==========================
#  TESTS / COVERAGE
# ==========================
.pytest_cache/

# ==========================
# DOCUMENTATION (Sphinx)
# ==========================

docs/_build/
docs/build/
docs/.doctrees/

.vscode/

